<launch>

<arg name="num_cycles" default="1"/>
<arg name="total_time" default="-1"/>
<arg name="camera_preview" default="false"/>

<include file="$(find omnicone)/launch/direction_control_cycle_test.launch">
	<arg name="num_cycles" value="$(arg num_cycles)"/>
	<arg name="total_time" value="$(arg total_time)"/>
</include>

<node name="camera_preview" pkg="omnicone" type="camera_preview.py" if="$(arg camera_preview)"/>

</launch>
