<launch>

<node name="driver_node_a" pkg="roboteq_python" type="roboteq_driver_node" output="screen">
    <rosparam command="load" file="$(find omnicone)/config/motors_a.yaml" />
</node>

<node name="driver_node_b" pkg="roboteq_python" type="roboteq_driver_node" output="screen">
    <rosparam command="load" file="$(find omnicone)/config/motors_b.yaml" />
</node>

<node name="rqt_publisher" pkg="rqt_publisher" type="rqt_publisher" />

</launch>
