<launch>
  <arg name="cmd_topic" default="/cmd_vel"/>
  <arg name="speed" default="1"/>
  <arg name="path" default="rellis"/>
  <arg name="lookahead" default="12"/>
  <arg name="wptfile" default="$(find wp_control)/paths/$(arg path)/waypoints_$(arg speed)"/>
  <node pkg="wp_control" type="purePursuit" name="waypointFollower" output="screen">
    <param name="WaypointFile" value="$(arg wptfile)"/>
    <param name="WaypointRadius" value="3"/>
    <param name="Lookahead" value="$(arg lookahead)"/>

    <!-- <remap from="cmd_vel" to="$(arg cmd_topic)"/> -->
  </node>
</launch>
